.marquee-track-horizontal {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  white-space: nowrap;
  animation: marquee-horizontal 120s linear infinite;
}

@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.bg-\[\#00FF3B\] {
  background-color: #00FF3B;
}

.text-black { color: #000; }
